<!DOCTYPE html>
<html>
<link href="/css/index.css" rel="stylesheet" type="text/css" />
<head>
    <title>My shop!</title>
</head>
<body>
    <div class="index">This is my shop!</div>
</body>
</html>